body {
	background: #ffffff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding-top: 2em;
}

.page-container {
	text-align: center;
}

.logo_404 {
	width: 100%;
	max-width: 20em;
}

.label_404-a {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-weight: 400;
	font-size: 5em;
	color: #2e8b97;
	margin-top: 0.5em;
}

.label_404-b {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-weight: 400;
	font-size: 2em;
	color: #f5955c;
	margin-top: 1em;
	margin-bottom: 2em;
}

.back-home {
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	color: #d93052;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1c1c1c;
	}
}
