body {
	background: #ffffff;
	margin: 0;
}

nav {
	background-color: transparent;
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;
	transition: 0.5s;
}

nav.hidden ul.nav-bar {
	box-shadow: 0px 0px 0px 0px transparent;
}

ul.nav-bar {
	background-color: #ffffffe9;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transition: 0.5s;
}

ul.nav-bar li {float: left;}

ul.nav-bar li a {
	display: block;
	padding: 1.2em 16px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-align: center;
	font-weight: 900;
	color: #dd297d;
	background: transparent;   
}

ul.nav-bar li.right {float: right;}

[class*="col-"] {
	width: 100%;
	float: left;
}

@media screen and (max-width: 599px) {
	div.bar-holder {width: 100%; background: transparent; height: 0; margin-left: 0; margin-top: 0;}
	ul#nv {
		position: absolute;
		top: 0em;
		width: 100%;
	}
	ul.nav-bar li {background: transparent;}
	ul.nav-bar li.right, ul.nav-bar li {float: none;}
	ul.nav-bar li a {border-bottom: 1px solid #eeeeee;}
	ul.nav-bar li a:active {background-color: #f1f1f1;}
	ul.nav-bar li:not(:first-child) {display: none;}
	ul.nav-bar.show-menu li {display: list-item;}
	img.recipe-img {max-width: 70% !important; 1em; margin-bottom: 1em;}
	ul.nav-bar.show-menu .top-item {border-bottom: 1px solid #eeeeee;}
	nav.hidden {transform: translate3d(0, -18em, 0);}
	#desktop-banner {display: none;}
	#mobile-banner {width: 100%;}
	#mobile-logo {
		padding-top: 2em;
		width: 100%;
		text-align: center;
	}
	#order-mobile {display: block;}
	#order-desktop {display: none;}
	#hamburguesa {
		background: transparent;
		float: right;
		margin-right: 0.5em;
		border: none;
	}
	.top-item {
		display: flex !important;
		height: 4em;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.top-space {
		display: flex !important;
		height: 4em;
		background: transparent;
	}
	.logo-var {
		height: 2em;
		margin-left: 1em;
	}
	img.order-button {padding-left: 0.5em; padding-right: 0.5em;}
	a.order {margin-left: 1.5em; margin-right: 1.5em;}
}

@media only screen and (min-width: 600px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
	div.bar-holder {width: 100%; background: transparent; height: 3em; margin-left: 0; margin-top: 0;}
	ul.nav-bar {
		position: -webkit-sticky;
		position: sticky;
		display: flex; 
		flex-direction: row; 
		flex-wrap: nowrap; 
		justify-content: space-between; 
		align-items: center; 
		width: 100%;
		height: 3.5em;
		border-bottom: 1px solid #cdcdcd;
		box-shadow: 0px -5px 5px 5px #00000096;
	}
	ul.nav-bar li a {border: none !important;}
	nav.hidden {transform: translate3d(0, -3.6, 0);}
	#desktop-banner {width: 100%; margin-top: -3.6em;}
	#mobile-banner {display: none;}
	#mobile-logo {display: none;}
	#order-mobile {display: none;}
	#order-desktop {display: block;}
	img.recipe-img {max-width: 85%;}
	img.recipe-img.lft {margin-left: 0%;}
	img.recipe-img.rgt {margin-right: 0%;}
	#hamburguesa {display: none;}
	.logo-var {
		height: 2em;
		margin-left: 10%;
	}
	img.order-button {padding-left: 0.6em; padding-right: 0.6em;}
	a.order {margin-left: 2.9em; margin-right: 2.9em;}
}

@media only screen and (min-width: 670px) {
	img.recipe-img {max-width: 85%;}
}

@media only screen and (min-width: 750px) {
	img.recipe-img {max-width: 22em;}
	img.recipe-img.lft {margin-left: 0%;}
	img.recipe-img.rgt {margin-right: 0%;}
}

@media only screen and (min-width: 780px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	div.bar-holder {width: 100%; background: transparent; height: 3em; margin-left: 0; margin-top: 0;}
	ul.nav-bar {
		position: -webkit-sticky;
		position: sticky;
		display: flex; 
		flex-direction: row; 
		flex-wrap: nowrap; 
		justify-content: space-between; 
		align-items: center; 
		width: 100%;
		height: 3.5em;
		border-bottom: 1px solid #cdcdcd;
		box-shadow: 0px -5px 5px 5px #00000096;
	}
	ul.nav-bar li a {border: none !important;}
	nav.hidden {transform: translate3d(0, -3.6em, 0);}
	#desktop-banner {width: 100%; margin-top: -3.6em;}
	#mobile-banner {display: none;}
	#mobile-logo {display: none;}
	#order-mobile {display: none;}
	#order-desktop {display: block;}
	img.recipe-img {max-width: 22em;}
	img.recipe-img.lft {margin-left: 5%;}
	img.recipe-img.rgt {margin-right: 5%;}
	#hamburguesa {display: none;}
	.logo-var {
		height: 2em;
		margin-left: 10%;
	}
	img.order-button {padding-left: 0.6em; padding-right: 0.6em;}
	a.order {margin-left: 2.9em; margin-right: 2.9em;}
}

@media only screen and (min-width: 890px) {
	img.recipe-img {max-width: 22em;}
	img.recipe-img.lft {margin-left: 22%;}
	img.recipe-img.rgt {margin-right: 22%;}
}

@media only screen and (min-width: 76em) {
	#desktop-banner {
		width: 100%;
		max-width: 76em;
		margin-left: calc(50% - 38em);
		margin-top: -3.6em;
	}
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.nosotros, .poch {
	font-family: 'Nunito', sans-serif;
	color: #ce2b7d;
	font-weight: 400;
	font-size: 1.21em;
	text-align: center;
	max-width: 83.34%;
	margin-left: 8.33%;
	margin-right: 8.33%;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #ce2b7d;
	font-size: 2em;
	text-align: center;
}

div.img-cell {
	text-align: center;
}

div.order-container {
	margin-top: 3em;
	margin-bottom: 1em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

img.order-button {
	width: 6em;
	max-width: 96px;
	padding-bottom: 0.8em;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #dd277d;
}

a.order {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	font-size: 1.21em;
	color: #ce2b7d;
}

.footer_01 {
	font-family: 'Nunito', sans-serif;
	display: flex;
	background: #dd287d;
	color: #FFFFFF;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 4em;
}

.footer_01-bottom {
	width: 100%;
}

.follow-us-label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	letter-spacing: 0.1em;
	background: #91175c;
	padding: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom-left-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	box-shadow: 1px 1px 1px #1a1a1a8a;
}

.nuestras-redes {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 5em;
}

img.social-button {
	width: 10em;
}

.footer_02 {
	font-family: 'Nunito', sans-serif;
	font-size: 0.9em;
	height: 5em;
	display: flex;
	background: #2e8b97;
	color: #FFFFFF;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
	body {
		background: #1c1c1c;
		color: #f5955c;
	}

	ul.nav-bar {
		background-color: #262626e9;
		box-shadow: 0px -5px 5px 5px #00000096;
	}

	ul.nav-bar li a {
		color: #dd297d;
		background: transparent;   
	}

	@media screen and (max-width: 599px) {
		div.bar-holder {background: transparent;}
		ul.nav-bar li {background: transparent;}
		ul.nav-bar li a {border-bottom: 1px solid #4f4f4f;}
		ul.nav-bar li a:active {background-color: #2e2e2e;}
		ul.nav-bar.show-menu .top-item {border-bottom: 1px solid #4f4f4f;}
	}

	@media only screen and (min-width: 600px) {
		div.bar-holder {background: transparent;}
		ul.nav-bar {
			border-bottom: 1px solid #4d4d4d;
			box-shadow: 0px -5px 5px 5px #00000096;
		}
		ul.nav-bar li a {border: none !important;}
	}

	@media only screen and (min-width: 768px) {
		div.bar-holder {background: transparent;}
		ul.nav-bar {
			border-bottom: 1px solid #4d4d4d;
			box-shadow: 0px -5px 5px 5px #00000096;
		}
		ul.nav-bar li a {border: none !important;}
	}

	h1 {
		color: #dd297d;
	}

	a.uber-order {
		background: black;
		color: white;
	}

	a.rappi-order {
		background: #fa4420;
		color: #ffffff;
	}

	.footer {
		background: #dd287d;
	}
}